@font-face { font-family: Nexa; src: url('Nexa\ Light.otf'); } 
@font-face { font-family: Nexa; font-weight: bold; src: url('Nexa Bold.otf');}


#rose {
    background-color: #c20bc9;
}
#violet {
    background-color: #2c1192;

}
p {
    font-size: 20px;
    font-family: "Nexa Bold", sans-serif;
    font-style: normal;
    font-weight: 500;
    transition: all 0.3s;
    line-height: 100%;
    margin: 0;
    color: black;
}
h1 {
    font-size: 500px;
    font-family: "Nexa Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    transition: all 0.3s;
    line-height: 100%;
    margin: 0;
    color: black;
}
#banniere {
    width: auto;
    height: 100px;
    background: linear-gradient(300deg,#5838d2  20ch, #a93159 11.05ch);
}
#banniere img {
    height: 100px;
    width: 100px;
    margin-right: 30px;
    margin-top: 2px;
    position: fixed;
}