body {
    
    background:linear-gradient(160deg, red, red 60%, white 60%, white);
}

.fakeimg {
    height: auto;
    width: auto;
}
.fakeimg img {
    height: 100%;
    width: 100%;
}
  
#titre {
    background: white;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.feur {
    margin-top: 200px;
    max-width: 100%;
}
